body{
  background-color: black;
  color: #b6b8b9;
  margin: 0;
  text-align: center;
}
.watchFace{
  background-color: #252525;
  width: 50%;
  height: 300px;
  margin: auto;
  margin-top: 200px;
  margin-bottom: 200px;
}
.timeCounter{
  font-size: 5em;
padding-top: 80px;
}
button{
  background-color: #252525;
  border: 2px solid;
  border-color: #b6b8b9;
  border-radius: 50px;
  color: #b6b8b9;
  padding: 1px 25px;
  margin-left: 5px;
}
button:hover{
  background-color: #b6b8b9;
  color: black;
  cursor: pointer;
}
